/* CSS PARA GRIDS */
.body-grid {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    row-gap: 50px;


    grid-template-areas:
        "logo nav"
        "espacio slider"
        "espacio nosotros"
        "footer footer";
}

.lista {
    grid-area: nav;
}

.logo {
    grid-area: logo;
}

.espacio {
    grid-area: espacio;
}

.slider-container {
    grid-area: slider;
}

.sobrenos-container {
    grid-area: nosotros;
}

footer {
    grid-area: footer;
}

.sublink {
    text-decoration: none;
    color: rgb(110, 93, 93);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
    text-decoration: none;
    color: rgba(180, 146, 146, 0.493);
}

.link:visited {
    text-decoration: none;
    color: black;
}

.sublink:hover {
    text-decoration: none;
    color: rgba(180, 146, 146, 0.493);
}
