/* CSS PARA RECETAS */
.Titlesprod {
    @extend %TitulosRecetas;
    padding-top: 16px;
}

.oreo h2 {
    @extend %TitulosRecetas;
}

.chocotorta h2 {
    @extend %TitulosRecetas;
    padding-top: 16px;
}

.brownie {
    background-color: rgba(255, 255, 255, 0.616);

    h2 {
        @extend %TitulosRecetas;
    }
}

.choco {
    margin: -13.5rem 43rem;
    width: 194px;
    height: 192px;
    float: left;
}

.animate__animated.animate__backinRight,
.animate__animated.animate__backinRight {
    --animate-duration: 2s;
}