/* Extend */
%TitulosRecetas {
  color: #570a2e;
  font-size: large;
  text-decoration: inherit;
  text-overflow: clip;
}

%Titulosprinc {
  color: rgba(54, 31, 49, 0.829);
  font-style: bold;
  text-decoration-color: thistle;
  text-anchor: middle;
  text-decoration: underline;
  font-size: xx-large;
}